<div class="card-container" style="background: url({{@url}})">
  <div class="overlay">
    <div class = "items"></div>
    <div class = "items head">
      <p>{{@name}}</p>
      <hr>
    </div>
    <div class="items read-more">
      <i class="ellipsis horizontal icon"></i>
      <span>Read more</span>
    </div>
  </div>
</div>
