body {
  background-color: $white;
}


.site-content {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%; }

.site-header {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-bottom: 0px;
  padding-top: 0px;
  width: 65%; }

.logo-wrap {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
  padding-top: 0px;
  width: 26.5%; }

.logo-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.logo-image {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.logo-secondary-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.logo-secondary-image {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.logo {
  font-family: llxb;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  padding-bottom: 0px;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0px;
  text-transform: none; }
.logo,
.logo a {
  color: #444; }
.logo a:hover {
  color: #444;
  font-style: normal;
  font-weight: 500;
  text-transform: none; }

.logo-secondary {
  font-family: llxb;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  padding-bottom: 0px;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 20px;
  text-transform: none; }
.logo-secondary,
.logo-secondary a {
  color: #bbb; }
.logo-secondary a:hover {
  color: #bbb;
  font-style: normal;
  font-weight: 500;
  text-transform: none; }

nav {
  float: none;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 37px;
  padding-top: 19px;
  width: 100%; }
nav .gallery-title a {
  color: #ff0640;
  font-family: verdana;
  font-size: 12px;
  line-height: 40px;
  text-transform: none; }
nav .gallery-title a:hover {
  color: #444;
  text-transform: none; }
nav .gallery-title a.active {
  color: #444;
  text-transform: none; }
nav .project-title a {
  color: #bbb;
  font-family: llxb;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  text-transform: none; }
nav .project-title a:hover {
  color: #444;
  font-style: normal;
  font-weight: 300;
  text-transform: none; }
nav .project-title a.active {
  color: #444;
  font-style: normal;
  font-weight: 300;
  text-transform: none; }
nav .page-title a {
  color: #ff0640;
  font-family: verdana;
  font-size: 12px;
  line-height: 40px;
  text-transform: none; }
nav .page-title a:hover {
  color: #444;
  text-transform: none; }
nav .page-title a.active {
  color: #444;
  text-transform: none; }
nav .link-title a {
  color: #ff0640;
  font-family: verdana;
  font-size: 14px;
  line-height: 40px;
  text-transform: none; }
nav .link-title a:hover {
  color: #444;
  text-transform: none; }
