<div class="wrapper">
  <div class="ui column centered grid">
    <div class="ui row">
      <h2 class="simple-text">You can contact me via email only for now at vas.rashkov@gmail.com or <a href="mailto:vas.rashkov@gmail.com">click here</a></h2>
    </div>
    <div class="ui row">
      <h1 class="name-text">Under construction</h1>
    </div>
  </div>
</div>
