{{outlet}}
<div class="wrapper">
  <div class="ui column centered grid">
    <img class="ui circular image" src="/assets/me.JPG">
  </div>
  <div class="ui column centered grid">
    <div class="ui row">
      <h2 class="simple-text">Hello I'm</h2>
    </div>
    <div class="ui row">
      <h1 class="name-text">Vasil Rashkov</h1>
    </div>
    <div class="ui row">
      <h2 class="simple-text">
        I am an ambitious person who is always open to learning new technologies and building upon his knowledge. I am
        always excited when I am faced with a new problem which needs a solution. I always approach my tasks with
        responsibility and try my best to adapt to a certain situation. It’s always a pleasure to work in a team to
        achieve an objective on time with excellence.
      </h2>
    </div>
    <div class="ui row">
      <h2 class="simple-text">
        In my free time I enjoy watching a good movie or playing a new computer/board game. On the weekends an escape
        from the city is a must.Hiking in the mountains or camping and exploring a new place. Nonetheless, my favourite
        hobby is my work.
      </h2>
    </div>
  </div>
</div>
