@import "animations.scss";

$textColor: #ff0640;

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  top: 0;
  background-color: white;
  border-bottom: solid 1px rgba(0,0,0,0.1);

  .logo-wrap {
    padding-left: 10px;
  }

  .logo img {
    max-width: 100%;
    width: 70px;
    height: 70px;
  }

  nav {
    float: none;
    padding-top: 19px;

    .page-title {
      text-transform: uppercase;
      padding-left: 0;
      padding-right: 30px;
      display: inline-block;
      vertical-align: middle;
      a {
        text-decoration: none;
        color: $textColor;
        font-family: verdana;
        font-size: 12px;
        line-height: 40px;
      }
      a.active, a:hover {
        text-decoration: none;
        color: #444;
      }
      &:first-child {
        padding-left: 0 !important;
      }
    }
  }

  i {
    display: none;
  }
}

@media only screen and (max-width: 660px) {
  .site-header {
    nav {
      .pages {
        display: none;
      }

      i {
        display: block;
        padding-bottom: 35px;
        float: right;
      }
    }
  }
}


.ember-burger-menu {
  overflow: unset !important;

  .bm-menu {
    background: white;

    i {
      float: right;
    }
  }

  ul {
    border-bottom: solid 1px rgba(0,0,0,0.1);
    right: 0;
    background: white;

    div {
      padding: 5px 0;
      text-transform: capitalize;

      a {
        text-decoration: none;
        color: $textColor;
        font-family: verdana;
        font-size: 12px;
      }

      &:hover {
          text-decoration: none;

        a{
          color: #444;
        }

      }
    }
  }
}
