@import "animations.scss";

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  height: 70px;
  top: 0;
  background-color: white;

  .logo img {
    max-width: 100%;
    width: 70px;
    height: 70px;
  }

  .logo-image {

  }

  nav {
    float: none;
    padding-top: 19px;

    .page-title {
      text-transform: uppercase;
      padding-left: 0;
      padding-right: 30px;
      display: inline-block;
      vertical-align: middle;
      a {
        color: #ff0640;
        font-family: verdana;
        font-size: 12px;
        line-height: 40px;
      }
      a.active, a:hover {
        color: #444;
      }
      &:first-child {
        padding-left: 0 !important;
      }
    }
  }
}
