@import "animations.scss";

$textColor: #03A9F4;

.site-header {
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  font: 14pt "Roboto", sans-serif;
  font-weight: 700;
  top: 0;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);

  .logo-wrap {
    padding-left: 10px;
  }

  .logo img {
    max-width: 100%;
    width: 70px;
    height: 70px;
  }

  nav {
    float: none;
    padding-top: 19px;

    .page-title {
      text-transform: uppercase;
      padding-left: 0;
      padding-right: 30px;
      display: inline-block;
      vertical-align: middle;
      a {
        text-decoration: none;
        color: $textColor;
        font-family: verdana;
        font-size: 12px;
        line-height: 40px;
      }
      a.active, a:hover {
        text-decoration: none;
        color: #333;
      }
      &:first-child {
        padding-left: 0 !important;
      }
    }
  }

  .mobile-menu {
    display: none;
  }
}

@media only screen and (max-width: 690px) {
  .site-header {
    nav {
      .pages {
        display: none;
      }

      .mobile-menu {
        display: block;
        padding-bottom: 35px;
        float: right;
      }
    }
  }
}
