<div class="header">
  <header class="site-header js-editable-target editable" data-context="theme.topcontainer">
    <div class="logo-wrap js-editable-target editable">
      <div class="logo logo-image  ">
        <a href="/projects" class="image-normal image-link">
          <img src="https://pro2-bar-s3-cdn-cf2.myportfolio.com/3f5260482ad8ab8df58d39b3c5c5d601/39229228-40ac-48b8-97b3-9df650bd5b8a_rwc_0x0x365x340x365.png?h=9485298b11b25b9a2d0d25e829840d39" alt="luke choice">
        </a>
      </div>
    </div>
    <nav class="js-editable-target editable">
      <div class="pages">
        <div class="gallery-title"><a href="/projects" class="active">WORK</a></div>
        <div class="page-title">
          <a href="/about">ABOUT</a>
        </div>
        <div class="page-title">
          <a href="/contact">CONTACT</a>
        </div>
        <div class="link-title">
          <a href="http://velvetspectrum.bigcartel.com/" target="_blank">SHOP</a>
        </div>
      </div>
      <div class="social pf-nav-social">
        <ul></ul>
      </div>
    </nav>
  </header>
</div>
{{outlet}}